@media only screen and (min-width:768px){
    .footer{
        &__itemTwo{
            padding: 0;
            ul{
                padding: 0;
                border-top: none;
            }
        }
    }
}